
$theme_bg_color: #efefef;
$danger_button_color: white;
$danger_button_background: red;

$danger_button_color__hover: red;
$danger_button_background__hover: white;

$color_border: grey;

$color_dark_gray: #333;
$color_light_gray: #555;